# Ignore IntelliJ IDEA project files
.idea/
*.iml
workspace.xml
shelf/

# Ignore Python virtual environment
venv/
__pycache__/
*.py[cod]

# Ignore temporary files
*.swp
*~
.DS_Store

# Ignore specific Python scripts
clean.py
merge_sheets.py

# Ignore all Excel files except the specified ones
*.xlsx
!Literature_Proseminar_Gamification_merged_r2review.xlsx
!Literature_Proseminar_Gamification_merged_r2review_reviewed.xlsx
